VITE_APP_TITLE=
VITE_APP_URL=
VITE_APP_ENV=
VITE_MOCK_URL=
VITE_GQL_ENDPOINT=
VITE_GQL_UPLOAD_ENDPOINT=
VITE_GQL_CODEGEN_ENDPOINT=
VITE_MIDTRANS_IS_PRODUCTION=
VITE_MIDTRANS_CLIENT_KEY=
VITE_MIDTRANS_PAYMENT_REQUEST_URL=